.navigation {
  position: fixed;
  z-index: 2;
  display: flex; // stylelint-disable-line plugin/no-unsupported-browser-features
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.menu {
  display: flex; // stylelint-disable-line plugin/no-unsupported-browser-features
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin-right: auto;
  margin-bottom: 0;
}

.menu li { // stylelint-disable-line selector-max-type
  display: block;
  padding: 0 1rem;
}

.menu__king {
  display: block;
  color: #5500f4;
  user-select: none; // stylelint-disable-line plugin/no-unsupported-browser-features
  transition: color 0.2s;
}

.typography--a {
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.04em;
  @include p-font-size(14px, 3);
}

.typography--a.typography--aligning-type-to-baseline {
  font-family: map-get($font--body, "family");
  font-style: unquote(map-get($font--body, "style"));
  font-weight: map-get($font--body, "weight");
  @include p-adjust-component-horizontal-padding(14px, $font--body);
}

.menu__king:hover {
  color: #60008e;
}
