$ts-base: 16px;
$ts-ratio: 1.5;

@include p-fonteque-set("heading", (
  "family": ("Open Sans", sans-serif),
  "style": "normal",
  "weight": 300,
  "cap-height": 0.72em
));

$typeface--body: (
  "family": ("Open Sans", sans-serif),
  "style": "normal",
  "weight": 400,
  "cap-height": 0.72em
);
