$grid--gutter: 16px;
$grid--column: ("count": 12, "width": 72px);

$font--headings: (
  "family": ("Open Sans", sans-serif),
  "weight": 300,
  "style": "normal",
  "cap-height": 0.72em
);

$font--body: (
  "family": ("Open Sans", sans-serif),
  "weight": 400,
  "style": "normal",
  "cap-height": 0.72em
);
