:root {
  --Grid-gutter-size: 16px;
  --Button-border-width: 0;
  --Button-disabled-opacity: 0.6;
  --Button-padding: 0 0.75em;
}

html { // stylelint-disable-line selector-max-type
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation; // stylelint-disable-line plugin/no-unsupported-browser-features, property-no-vendor-prefix
  touch-action: manipulation; // stylelint-disable-line plugin/no-unsupported-browser-features
}

body { // stylelint-disable-line selector-max-type
  width: 100%;
  min-height: 100%;
}

main { // stylelint-disable-line selector-max-type
  display: block;
  width: 100%;
  min-height: 100%;
}

*[hidden] {
  display: none !important;
}
