/* stylelint-disable selector-max-type */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

@include p-establish-baseline;

.typography {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.debug {
  position: relative;
}

.debug::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
  content: "";
  @include p-debug($p-debug-color);
}

.debug--active::after {
  display: block;
}

.typography__heading {
  @include p-margin-top;
}

@each $tag, $i, $margin-bottom, $typeface in ((".typography__heading--1", 3, 2, "heading"), (".typography__heading--2", 2, 1, "heading"), (".typography__heading--3", 1, 0, "heading"), (".typography__heading--4", 0, 0, "heading"), ((".typography__heading--5", ".typography__heading--6", "heading"), -1, 0, "heading"), (".typography__paragraph", 0, 1, $typeface--body),) {
  #{$tag} {
    @include p-font-size(ts($i));
    @include p-margin-bottom($margin-bottom);
  }

  @each $t in $tag {
    #{$t}.typography--aligning-type-to-baseline {
      @include p-aligning-type-to-baseline(ts($i), $typeface, $trailer: $margin-bottom);
      @include p-fonteque-get($typeface);
    }
  }
}

.typography__paragraph--unordered-list,
.typography__paragraph--ordered-list {
  & & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

hr {
  width: 100%;
  height: 0;
  margin: 0;
  clear: both;
  border: 0;
  @include p-border-bottom;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* stylelint-enable selector-max-type */
