.grid {
  margin: 0 auto;
  @include p-unit-rem("max-width", ((map-get($grid--column, "width") * map-get($grid--column, "count")) + ($grid--gutter * (map-get($grid--column, "count") + 1))));
  @include p-unit-rem("padding", $grid--gutter);
}

.grid__inner {
  display: flex; // stylelint-disable-line plugin/no-unsupported-browser-features
  flex-flow: row wrap;
  align-items: stretch;
  @include p-unit-rem("margin", ($grid--gutter / -2));
}

.cell {
  @include p-unit-rem("margin", ($grid--gutter / 2));
}

@for $i from 1 through map-get($grid--column, "count") {
  .cell--#{$i} {
    width: calc(#{percentage($i / map-get($grid--column, "count"))} - #{p-unit-convert($grid--gutter, $p-unit-global)});
  }
}
