.demo-button {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 0.75em;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none; // stylelint-disable-line plugin/no-unsupported-browser-features
  background-color: transparent;
  border: 0;
  @include p-component-to-baseline(16px, "body");

  @each $key, $value in map-get($p-baseline-teque, "body") {
    @if (index(("family", "style", "weight"), $key) != null) {
      #{unquote("font-#{$key}")}: if($key == "style", unquote($value), $value);
    }
  }
}

.demo-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.demo-button:focus {
  outline: 1px dotted; // stylelint-disable-line plugin/no-unsupported-browser-features
  outline: 5px auto -webkit-focus-ring-color; // stylelint-disable-line plugin/no-unsupported-browser-features
}
