.button {
  @extend .Button; // stylelint-disable-line at-rule-blacklist
  display: block;
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.typography__button {
  @include p-font-size(ts(0), 3);
}

.typography__button.typography--aligning-type-to-baseline {
  @include p-adjust-component-horizontal-padding(ts(0), $typeface--body);
  @include p-fonteque-get($typeface--body);
}
