@mixin before-test-aligning-to-baseline {
  $p-fonteque: map-merge($p-fonteque, ("test": ("family": sans-serif, "cap-height": 0.72))) !global;
}

@include before-test-aligning-to-baseline;

@include test-module("p-shift-value [function]") {
  @include test("Should return distance to shift text down.") {
    $to: 100px;
    $cap-height: map-get(map-get($p-fonteque, "test"), "cap-height") * 1em;
    $output: p-shift-value($to, $cap-height);
    $expect: 1.25rem;

    @include assert-equal($output, $expect);
  }
}

@include test-module("p-fonteque-get [mixin]") {
  @include test("Should output style rules of `$key`'s family font.") {
    @include assert {
      @include output {
        @include p-fonteque-get("test");
      }

      @include expect {
        font-family: sans-serif;
      }
    }
  }

  @include test("Should output fallback font style rules.") {
    @include assert {
      @include output {
        @include p-fonteque-get("if-it-does-not-exist", ("style": "italic", "weight": "bold"));
      }

      @include expect {
        font-style: italic;
        font-weight: bold;
      }
    }
  }
}

@include test-module("p-adjust-padding-leader [mixin]") {
  @include test("Should output correct padding-top to move the text downwards.") {
    @include assert {
      @include output {
        $to: 100px;
        $font: "test";

        @include p-adjust-padding-leader($to, $font);
      }

      @include expect {
        padding-top: 1.25rem;
      }
    }
  }
}

@include test-module("p-adjust-trailing-whitespace [mixin]") {
  @include test("Should output correct margin-bottom to fix vertical rhythm for elements below.") {
    @include assert {
      @include output {
        $to: 100px;
        $font: "test";

        @include p-adjust-trailing-whitespace($to, $font);
      }

      @include expect {
        margin-bottom: 1.75rem;
      }
    }
  }
}

@include test-module("p-type-to-baseline [mixin]") {
  @include test("Should output padding-top to move the text downwards and margin-bottom to fix vertical rhythm for elements below.") {
    @include assert {
      @include output {
        $to: 16px;
        $font: "test";
        $leader: 1;
        $trailer: 3;

        @include p-type-to-baseline($to, $font, $leader, $trailer);
      }

      @include expect {
        font-size: 1rem;
        line-height: 2rem;
        padding-top: 1.64rem;
        margin-bottom: 3.36rem;
      }
    }
  }
}

@include test-module("p-component-to-baseline [mixin]") {
  @include test("Should output padding-top to move the text downwards and padding-bottom to fix vertical rhythm for elements below.") {
    @include assert {
      @include output {
        $to: 16px;
        $font: "test";
        $lines: 2;

        @include p-component-to-baseline($to, $font, $lines);
      }

      @include expect {
        font-size: 1rem;
        line-height: 2rem;
        padding-top: 2.64rem;
        padding-bottom: 2.36rem;
      }
    }
  }
}
